.app-layout .sidebar {
  background-color: #121231;
  padding: 50px 10px 30px 10px;
  height: 100vh;
}

.app-layout .sidebar .nav-button {
  justify-content: left;
  margin-bottom: 10px;
  padding: 10px 0px 10px 20px;
  color: #FFF;
  font-family: "Poppins";
}
.app-layout .sidebar .nav-button:hover {
  background-color: #f6c9276b;
}
.app-layout .sidebar .nav-button.selected {
  background-color: #f6c927;
}
.app-layout .sidebar .nav-button.selected:hover {
  background-color: #f6c927;
}
